.name {
    font-size: 17px;
    letter-spacing: 1px;
  
    cursor: pointer;
  }
  table {
    margin-top: 15px;
  }
  
  img {
    border-radius: 10% / 50%;
    box-shadow: black 1px 1px 5px;
  }
  
  body {
    background-color: rgb(241, 241, 241);
    font-family: "Josefin Sans", sans-serif;
  }
  
  input {
    margin-right: 15px;
    margin-left: 70px;
  }
  .search-button {
    color: darkslategrey;
  }